/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
.article-header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color:#111111;
}
.featured-more{
  text-align: right;
}

.featured-more a{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  /* letter-spacing: 3px; */
  background-color: #292b81;
  color:#fff;
  text-decoration: none;
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /* border-radius: 4px; */
}
.featured-more a:hover{
  text-decoration: none;
  background-color: #1fb7cd;
  color:#fff;
}
.navbar-custom {
  color: #FFFFFF;
  background-color:cornflowerblue;
}
.label-sidebar{
    background-color: #2b2b2b !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.card-header::before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2b2b2b;
  /* bottom: -15px; */
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  margin: 37px 0 0 0;
}
.label-widget a{
    display: inline-block;
    margin: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #636363;
    background-color: #FFF;
    padding: 7px;
    letter-spacing: 0.04em;
    border: 1px solid #eee;
}
.label-widget  a:hover{
  background-color: #fb641b;
  color:#fff;
  text-decoration: none;
}
.orgCol{
  background-color:#fb641b;
  color:#fff;
}
/* .fb_iframe_widget {
  display: inline-block;
  position: relative;
}
.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}
.fb_iframe_widget iframe {
  position: absolute;
} */
.share-post{
  /* float: right; */
  color:#2b2b2b;
}