<!---Actual Design starts now-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">DotQuesMock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
          <a class="nav-link" href="#">Interview Questions</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tutorials</a>
    </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Tools</a>
      </li>
  </ul>
  </div>
</nav>
<main role="main" class="container">

 <!--Banner Ad-->
 <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <img src="http://via.placeholder.com/728x90" class="img-fluid" /> 
    </div>
 </div>
<!--Banner Ad-->

<!--Article Section-->
<div class="row">
  <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
    <div>
      <ngx-datatable [rows]="rows" [columns]="columns" class="material">
      </ngx-datatable>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">

  </div>
</div>
<!--Article Section-->

</main><!-- /.container -->